<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="magecom_learning" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10">
                <label>Info</label>
                <comment>Description of the page.</comment>
                <field id="magecom_learning_enabled" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled:</label>
                        <frontend_model>Magecom\Learning\Block\Adminhtml\Config\Info\Field\Enabled</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
